# LLM Providers
GROQ_API_KEY=
OPENAI_API_KEY=

# Langfuse Observability
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com
LANGFUSE_HOST=https://us.cloud.langfuse.com
SLACK_BOT_TOKEN=

# Local PostgreSQL Docker Connections
DATABASE_URL=postgresql+asyncpg://mdm_admin:mdm_secure_password@postgres:5432/mdm_db
LANGGRAPH_DB_URL=postgresql+asyncpg://mdm_admin:mdm_secure_password@postgres:5432/langgraph_state