fastapi
uvicorn
python-multipart
langchain
langchain-openai
langgraph
langgraph-checkpoint-postgres
langfuse>=3.0.0,<4.0.0
fastmcp[server]
pydantic
sqlalchemy
asyncpg
psycopg2-binary
python-dotenv
slack_sdk
pgvector
boto3